.form-date-dropdown {
  width: 320px;
  height: 44px;
  padding: 15px 13px;
  color: $dark-shade75p;

  border: 1px solid $dark-shade25p;
  border-radius: 4px;

  &:hover,
  &:focus {
    border: 1px solid $dark-shade50p;
  }
}
