.form-masked-text-field__input {
  width: 320px;
  height: 44px;
  padding: 9px 13px;
  background-color: transparent;

  border: 1px solid $dark-shade25p;
  border-radius: 4px;
  color: $dark-shade75p;
  .spanMask {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;

    color: $dark-shade25p;
    transition: color .1s linear;
  }

  &:hover,
  &:focus {
    border: 1px solid $dark-shade50p
  }
  .red {
    color: red;
  }
}

