$partOfArrow: ((12px*0.52532198881)/2)+((2px*0.52532198881)/2);

.form-date {
  width: 320px;
  min-height: 369px;
  padding: 20px;

  color: $dark-shade75p;
  border: 1px solid $dark-shade25p;
  border-radius: 4px;
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    // height: 24px;
    .header__arrow-box{
      // position: relative;
      width: 24px;
      height: 24px;

      cursor: pointer;
      .header__arrow {
        position: absolute;

        z-index: 2;
        width: 15px;
        height: 2px;
        background-color: $purple;
        // border: 0.1px solid #000;
        &:before {
          content: "";
          position: absolute;
          top: (-$partOfArrow);
          left: -2px;
          width: 12px;
          height: 2px;
          background-color: $purple;
          transform: rotate(-45deg);
        }
        &:after {
          content: "";
          position: absolute;
          top: $partOfArrow;
          left: -2px;
          width: 12px;
          height: 2px;
          background-color: $purple;
          transform: rotate(45deg);
        }
        &.header__arrow--left  {
          top: 11px;
          left: 4.5px;
        }
        &.header__arrow--right  {
          top: 11px;
          right: 4.5px;

          transform: rotate(180deg);
        }
      }
    }
    .header__text {
      color: $dark-shade100p;

      font-size: 19px;
      line-height: 1.25;
      font-weight: 700;
      // font-family: Quicksand;
    }

  }
  .content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    // border: 1px solid #000;
    .content__weakday {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 39.7px;
      height: 40px;

      font-weight: 700;
      color: $purple;
    }
    .content__day {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 39.7px;
      height: 40px;

      color: $dark-shade50p;
      &.lastMonth {
        color: $dark-shade25p;
      }
      &.nextMonth {
        color: $dark-shade25p;
      }
      &.actualDay {
        color: red;
      }
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    font-weight: 700;
    text-transform: uppercase;
    color: $dark-shade50p;
    .accept {
      color: $purple;
    }
  }
}
