mixin form-date(options)
  .form-date
    .header
      .header__arrow.header__arrow--left
      .header__text  Август 2019
      .header__arrow.header__arrow--right
    .content
      - var n = 0;
        while n < 42
          .content__item= n++
