// @media size
$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$dark-shade100p          : #1f2041;
$dark-shade75p           : rgba(#1f2041, .75);
$dark-shade50p           : rgba(#1f2041, .5);
$dark-shade25p           : rgba(#1f2041, .25);
$dark-shade5p            : rgba(#1f2041, .05);
$purple                  : #bc9cff;
$green                   : #6fcf97;

